  
<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mobile Price</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>

    <body class="main">

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Mobile Price Prediction</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container container-2">
        	<div class="row">
        	<div class="col-md-2"></div>
        	<div class="col-md-8">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="battery_power" placeholder="battery power 3000"><br>
                <input class="form-input" type="text" name="blue" placeholder="bluetooth 0-1"><br>
                <input class="form-input" type="text" name="clock_speed" placeholder="clock speed 0-3"><br>
                <input class="form-input" type="text" name="dual_sim" placeholder="dual sim 0-1"><br>
                <input class="form-input" type="text" name="fc" placeholder="front camera 0-32"><br>
                <input class="form-input" type="text" name="four_g" placeholder="4G 0-1"><br>
                <input class="form-input" type="text" name="int_memory" placeholder="internal memory 0-64"><br>
                <input class="form-input" type="text" name="m_dep" placeholder="mobile depth 0-1"><br>
                <input class="form-input" type="text" name="mobile_wt" placeholder="mobile weight 0-200"><br>
                <input class="form-input" type="text" name="n_cores" placeholder="number of core of precessor 0-8"><br>
                <input class="form-input" type="text" name="pc" placeholder="primary camera 0-16"><br>
                <input class="form-input" type="text" name="px_height" placeholder="pixel height 0-1500"><br>
                <input class="form-input" type="text" name="px_width" placeholder="pixel width 0-2000"><br>
                <input class="form-input" type="text" name="ram" placeholder="ram 0-3000"><br>
                <input class="form-input" type="text" name="sc_h" placeholder="screen height 0-20"><br>
                <input class="form-input" type="text" name="sc_w" placeholder="screen weight 0-10"><br>
                <input class="form-input" type="text" name="talk_time" placeholder="talk time 0-20"><br>
                <input class="form-input" type="text" name="three_g" placeholder="3G 0-1"><br>
                <input class="form-input" type="text" name="touch_screen" placeholder="touch screen 0-1"><br>
                <input class="form-input" type="text" name="wifi" placeholder="wifi 0-1"><br>
                
                

        		<input type="submit" class="my-cta-button" value="Predict">
        		<input type="reset" class="my-reset-button" value="Reset">
        	</form>
        	</div>
        	<div class="col-md-2"></div>
        	</div>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/umeshkumarpal1651/mobileprice/"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/umeshkumar-pal-457368137/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Umeshkumar Pal.</p>
       </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    </body>
</html>
